.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__img {
    display: inline;
    border-radius: 50%;
    width: var(--size-8xl);
    height: var(--size-8xl);
}

.hero__subtitle {
    color: var(--clr-slate700);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero__title {
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__description {
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--clr-slate500);
}

.hero__btn {
    text-transform: capitalize;
    font-size: var(--size-s);
}

/* xs */
@media (min-width: 475px) {
    .hero {
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .hero__img {
        width: 6.5rem;
        height: 6.5rem;
    }

    .hero__subtitle {
        font-size: var(--size-l);
    }

    .hero__title {
        font-size: var(--size-5xl);
    }

    .hero__description {
        font-size: var(--size-base);
    }

    .hero__btn {
        font-size: var(--size-base);
    }
}

/* s */
/* @media (min-width: 640px) {} */

/* m */
/* @media (min-width: 768px) {} */

/* l */
@media (min-width: 1024px) {
    .hero__img {
        width: var(--size-9xl);
        height: var(--size-9xl);
    }

    .hero__subtitle {
        font-size: var(--size-2xl);
    }

    .hero__title {
        font-size: var(--size-7xl);
    }

    .hero__description {
        font-size: var(--size-l);
    }

    .hero__btn {
        font-size: var(--size-l);
    }
}

/* xl */
@media (min-width: 1280px) {
    .hero {
        gap: 2rem;
    }

    .hero__img {
        width: var(--size-10xl);
        height: var(--size-10xl);
    }

    .hero__subtitle {
        font-size: var(--size-4xl);
    }

    .hero__title {
        font-size: var(--size-9xl);
    }

    .hero__description {
        font-size: var(--size-xl);
    }

    .hero__btn {
        font-size: var(--size-xl);
    }
}

/* xxl */
/* @media (min-width: 1536px) {} */